<!-- container fluid starts -->

<div class="container-fluid content_wrapper">
  <!-- top bar starts -->
  <h1 style="text-align:center;margin-top:100px;margin-bottom:-120px;">Order Issues</h1>
  <!-- top bar ends -->

  <div class="allignment_panel">


   <!-- main starts-->

  <div class="row main">
    

    <div class="emp_id_wrapper">
      <label class="emp_id">Search bar</label>
      <input type="text" id="emp_id" class="form-control emp_id_form" type="text"
      id="globalSearch"
      (input)="onChange($event)" id="emp_id" autocomplete="off" placeholder="# Search for keywords">
    </div>
    <div class="export" *ngIf="IsDisplayExportButton"><button (click)="exportexcel()" class="btn btn-export">Export to Excel</button></div>
    <div class="col-12">
      <ngx-table class="table-responsive table-cstm"
           id="excel-table"
           #table
           [configuration]="configuration"
           [data]="data"
           [columns]="columns">
      </ngx-table>
      <ng-template #actionTpl let-rowIndex="rowIndex">
        <!-- <div class="btn btn-cstm" [routerLink]="['/scm', data[rowIndex]._id]"><mat-icon aria-hidden="false" aria-label="Example home icon">draw</mat-icon></div> -->
      </ng-template>
    </div>
     <div class="card mt-5 top-lvl">
      <div class="card-body p-4">
        <h1>hello</h1>
      </div>
     </div>
    <!-- <div id="div-chart">
      <h3>printer comparison</h3>
      <canvas style="height: 500px; width: auto;" id="bar"></canvas>
      
    </div>
    
    <div id="div-chart">
      <h3>weekly progresss</h3>
      <canvas style="height: 500px; width: auto;" id="doughnut-weekly"></canvas>      
    </div>

    <div id="div-chart">
      <h3>monthly progresss</h3>
      <canvas style="height: 500px; width: auto;" id="doughnut-monthly"></canvas>      
    </div>

    <div id="div-chart">
      <h3>yearly progresss</h3>
      <canvas style="height: 500px; width: auto;" id="doughnut-yearly"></canvas>      
    </div>

    <div id="div-chart">
      <h3>overall progresss</h3>
      <canvas style="height: 500px; width: auto;" id="doughnut-overall"></canvas>      
    </div> -->


    
  </div>

  <!-- main ends -->

  </div>


</div>
<!-- container fluid ends -->
